body {
	background-color: azure;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 1000;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	gap: 16px;
}
.grid {
	border: 2px solid;
	padding: 8px;
	width: fit-content;
	height: fit-content;
	display: grid;

	grid-auto-rows: minmax(16px, 16px);
	gap: 2px;
}

.grid-item {
	background-color: rgb(255, 255, 255);

	border: 2px solid;
	border-radius: 2px;
}

.hovered {
	background-color: rgb(0, 0, 0);

	transition: all 450ms;
}

button {
	background-color: cadetblue;
	width: 6rem;
	height: 6vh;
	border: 3px solid;
	border-radius: 15px;
}

button:hover {
	background-color: rgb(119, 204, 207);
	width: 8rem;
	height: 8vh;
	border: 3px solid;
	border-radius: 20px;
	transition: all 0.3s;
}
